{% extends 'gentelella-base.html' %}
{% load static %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
    <div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Issues</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>My Issues</h2>
            <ul class="nav navbar-right panel_toolbox pull-right">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <div><p> </p></div>
            <div class="table-responsive">
                <table class="table table-striped jambo_table">
                    <thead>
                    <tr class="headings">
                        <th class="column-title">ID</th>
                        <th class="column-title">Status</th>
                        <th class="column-title">Priority</th>
                        <th class="column-title">Category</th>
                        <th class="column-title">Title</th>
                        <th class="column-title">Date Reported</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="even pointer">
                        <td class=" ">121000040</td>
                        <td class=" ">open</td>
                        <td class=" ">Low</td>
                        <td class=" ">Wearable</td>
                        <td class=" ">Garmin is broken!</td>
                        <td class=" ">May 23, 2014 11:47:56 PM</td>
                    </tr>
                    <tr class="odd pointer">
                        <td class=" ">121091340</td>
                        <td class=" ">open</td>
                        <td class=" ">Low</td>
                        <td class=" ">Wearable</td>
                        <td class=" ">Garmin is broken!</td>
                        <td class=" ">May 23, 2014 11:47:56 PM</td>
                    </tr>
                    <tr class="even pointer">
                        <td class=" ">121084040</td>
                        <td class=" ">open</td>
                        <td class=" ">Low</td>
                        <td class=" ">Wearable</td>
                        <td class=" ">Garmin is broken!</td>
                        <td class=" ">May 23, 2014 11:47:56 PM</td>
                    </tr>
                    <tr class="odd pointer">
                        <td class=" ">121023440</td>
                        <td class=" ">open</td>
                        <td class=" ">Low</td>
                        <td class=" ">Wearable</td>
                        <td class=" ">Garmin is broken!</td>
                        <td class=" ">May 23, 2014 11:47:56 PM</td>
                    </tr>
                    <tr class="even pointer">
                        <td class=" ">121554240</td>
                        <td class=" ">open</td>
                        <td class=" ">Low</td>
                        <td class=" ">Wearable</td>
                        <td class=" ">Garmin is broken!</td>
                        <td class=" ">May 23, 2014 11:47:56 PM</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div></div></div></div></div>
    </div>
{% endblock content %}
