<!------------------------------------
--  Theme Installation Instructions --
--
-- $> cd integration/static/
-- $> bower install gentelella --save
-- $> bower install highcharts --save
-- : Open "bower_components/gentelella/build/js/custom.js"
-- : Comment out lines 1843 -> 1863 (try searching for "new PNotify")
-- :    ..these are what cause the "PNotify" example to show up on all pages (annoying!!)
--
-- DEPLOYMENT:
-- $> python manage.py collectstatic
--
-------------------------------------->



<!-- For a full example of this template, check out the author's example page: https://colorlib.com/polygon/gentelella/index.html -->

<!-- Theme downloaded via bower install at: https://github.com/puikinsh/gentelella -->


{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MOSIAC | {% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'bower_components/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'bower_components/gentelella/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'bower_components/gentelella/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'bower_components/gentelella/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{% static 'bower_components/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{% static 'bower_components/gentelella/vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'bower_components/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

      <!-- PNotify -->
    <link href="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.buttons.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.nonblock.css' %}" rel="stylesheet">

    <!-- Switchery -->
    <link href="{% static 'bower_components/gentelella/vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'bower_components/gentelella/build/css/custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'tesserae_styles.css' %}" rel="stylesheet">

    {% block head %}{% endblock %}
  {% block top_js %} {% endblock %}
  </head>

  <body class="nav-md footer_fixed">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><i class="fa fa-eye"></i> <span>MOSAIC</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
              {% if request.user.is_authenticated %}
            <div class="profile clearfix">

              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{% if request.user.firstname %}{{ request.user.firstname }}{% else %}{{ request.user.username }}{% endif %}</h2>
              </div>
            </div>
              {% endif %}
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
{#                <h3>General</h3>#}
                <ul class="nav side-menu">
                    <li>
                        <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                    </li>

                  <li><a><i class="fa fa-envelope-o"></i> Status <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="#">Compliance</a></li>
                      <li><a href="#">Leave Study</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Issues <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
{#                      <li><a href="{% url 'new_issue' %}">Report an Issue</a></li>#}
                      <li><a href="{% url 'portal:my_issues_list' %}">My Issues</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Communications <span class="fa fa-chevron-down"></span></a>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
{#            <div class="sidebar-footer hidden-small">#}
{#              <a data-toggle="tooltip" data-placement="top" title="Settings">#}
{#                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>#}
{#              </a>#}
{#              <a data-toggle="tooltip" data-placement="top" title="FullScreen">#}
{#                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>#}
{#              </a>#}
{#              <a data-toggle="tooltip" data-placement="top" title="Lock">#}
{#                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>#}
{#              </a>#}
{#              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">#}
{#                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>#}
{#              </a>#}
{#            </div>#}
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

                {% if request.user.is_authenticated %}
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {% if request.user.firstname %}{{ request.user.firstname }}{% else %}{{ request.user.username }}{% endif %}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="#"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>


              </ul>
                    {% else %}
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Guest
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="#"> Login</a></li>
                  </ul>
                </li>

              </ul>
                {% endif %}
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        {% block content %}

      {% endblock %}
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'bower_components/gentelella/vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'bower_components/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'bower_components/gentelella/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'bower_components/gentelella/vendors/nprogress/nprogress.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'bower_components/gentelella/vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <!-- gauge.js -->
    <script src="{% static 'bower_components/gentelella/vendors/gauge.js/dist/gauge.min.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'bower_components/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'bower_components/gentelella/vendors/iCheck/icheck.min.js' %}"></script>
    <!-- Skycons -->
    <script src="{% static 'bower_components/gentelella/vendors/skycons/skycons.js' %}"></script>
    <!-- Flot -->
    <script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/Flot/jquery.flot.resize.js' %}"></script>
    <!-- Flot plugins -->
    <script src="{% static 'bower_components/gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/flot.curvedlines/curvedLines.js' %}"></script>
    <!-- DateJS -->
    <script src="{% static 'bower_components/gentelella/vendors/DateJS/build/date.js' %}"></script>
    <!-- JQVMap -->
    <script src="{% static 'bower_components/gentelella/vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'bower_components/gentelella/vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <!-- PNotify -->
    <script src="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.buttons.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pnotify/dist/pnotify.nonblock.js' %}"></script>

    <!-- Switchery -->
    <script src="{% static 'bower_components/gentelella/vendors/switchery/dist/switchery.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'bower_components/gentelella/build/js/custom.js' %}"></script>

    {% block js %}{% endblock %}

  </body>
</html>
